<label ng-if="connected">Hello {{ currentUser.firstName }}</label>


<label ng-if="!connected">Not connected</label>




<table>
    <tr>
        <td>
            <div class="each-top-five" ng-repeat="article in appArticles | orderBy: '-searchCount'">
                <a href=@hreff ng-click="showme=true;updateArticleCount(article)">
                    <dl>
                        <dd class="top-five-dd">
                            <img ng-src={{article.image}} style="width: 35%; height: 100%; " align="right" />
                            <div class="five-article-text">
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.text }}</p>
                            </div>
                        </dd>
                    </dl>
                </a>
            </div>
        </td>
    </tr>
</table>