<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <ul>
                <li ng-repeat="transaction in currentUser.transactions">
                      transaction: {{ transaction.price }}
                </li>
        
              </ul>


        <ul>
                <li ng-repeat="(key, value) in currentUser.transactions | groupBy: 'catagory'">
                        <ul>
                  transaction name: {{ key }}

                  <li ng-repeat="transaction in value">
                        transaction: {{ transaction.price }}
                </li>
                  
                  </ul>
                </li>
              </ul>
</body>
</html>